<h1> Seja Bem Vindo</h1>
<ul>
  <li><%= link_to "Inicio",home_index_path%></li>
  <li><%= link_to "Contatos",contacts_path%></li>
  <li><%= link_to "Tipos",kinds_path%></li>
  <li><%= link_to "Endereços",addresses_path%></li>
  <li><%= link_to "Telefones",phones_path%></li>
  <li><%= link_to "Telefones Ajax",phones_path, remote:true %></li>

</ul>
