<%= form_with(model: contact, local: true) do |form| %>

<% if contact.errors.any? %>
<div class="container">
<div class="col-md-8 offset-md-2">
    <div class="card">
        <div class="card-header">
            <%= "#{pluralize(contact.errors.count, "error")} #{t('messages.erros')}:" %>
        </div>
        <div class="card-body">
            <% contact.errors.full_messages.each do |message| %>
            <div class="alert alert-danger" role="alert">
                <%= message %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <% end %>
        </div>
    </div>
</div>
</div>
<% end %>

<div class="container">


  <div class="col-md-8 offset-md-2">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :kind_id %>
        <%= form.collection_select(:kind_id,@options_for_select,:id,:description,{:prompt => 'Select Kind...'}, {:class=>'form-control'})%>
      </div>

      <%= form.fields_for :address do |address_fields| %>

      <div class="form-group">
        <%= address_fields.label :street %>
        <%= address_fields.text_field :street, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= address_fields.label :state %>
        <%= address_fields.select :state,options_for_state(@contact.address.state), {:prompt => 'Select State...'}, {:class=>'form-control'} %>
      </div>

      <div class="form-group">
        <%= address_fields.label :city %>s
        <%= address_fields.text_field :city, class:"form-control" %>
      </div>
      <% end %>

      <div id="phones">

        <%= form.fields_for :phones do |phones_fields| %>
          <%= render partial: "phone_fields", locals: {f: phones_fields} %>
        <% end %>
          <%= link_to_add_association('[Adicionar Telefone]', form, :phones) %>
      </div>
      <div class="form-group">
        <%= form.label :rmk %>
        <%= form.text_area :rmk, class:"form-control" %>
      </div>

      <div class="actions">
        <%= form.submit "Salvar", class:"btn btn-primary btn-block" %>
        <%= link_to 'Voltar', contacts_path, class:"btn btn-primary btn-block" %>
      </div>
  </div>
  </div>
<% end %>
