<div class="form-group nested-fields">
  <%= f.label :phone %>
  <div class="row">
    <div class="col-md-10">
      <%= f.text_field :phone, class:"form-control" %>
        </div>
    <div class="col-md-2">
          <%= link_to_remove_association('Remover', f, class:"btn btn-block btn-danger")%>
    </div>
  </div>


</div>
