<script type="text/javascript">$.notify("<%= notice %>", "success",{ position:"center" });</script>

<h1>Contacts</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%=Contact.human_attribute_name("name")%></th>
          <th><%=Contact.human_attribute_name("email")%></th>
          <th><%=Contact.human_attribute_name("kind")%></th>
          <!-- <th>Rmk</th> -->
          <th>Mostrar</th>
          <th>Editar</th>
          <th>Deletar</th>
        </tr>
      </thead>

      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= contact.kind.description %></td>
            <!-- <td><%= contact.rmk %></td> -->
            <td><%= link_to t('buttons.show'), contact %></td>
            <td><%= link_to t('buttons.edit'), edit_contact_path(contact) %></td>
            <td><%= link_to t('buttons.destroy'), contact, method: :delete, data: { confirm: t('messages.confirm') } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row">
       <div class="col-lg-4">
           <%= paginate @contacts, theme: 'twitter-bootstrap-4' %>
       </div>
       <div class="col-lg-2 offset-lg-6">
         <%= link_to 'New Contact', new_contact_path ,class:"btn btn-primary"%>
       </div>
    </div>

<br>
