<p id="notice"><%= notice %></p>

<h1>Addresses</h1>

<table id="addresses-table">
  <thead>
    <tr>
      <th><%=Address.human_attribute_name("street")%></th>
      <th><%=Address.human_attribute_name("city")%></th>
      <th><%=Address.human_attribute_name("state")%></th>
      <th><%=Address.human_attribute_name("contact")%></th>
      <th>Mostrar</th>
      <th>Editar</th>
      <th>Deletar</th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.street %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.contact %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
